<nav class="navbar navbar-default navbar-fixed-top">
  	<div class="container-fluid">
    	<div class="navbar-header">
      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
      		</button>
      		<a class="navbar-brand" href="#">Brand</a>
    	</div>

    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      		<ul class="nav navbar-nav">
        		<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        		<li><a href="#">Link</a></li>
      		</ul>
      		<ul class="nav navbar-nav navbar-right">
        		<li><a href="#">Link</a></li>
      		</ul>
    	</div>
  	</div>
</nav>

<section id="home">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		</ol>

		<div class="carousel-inner" role="listbox">
			<div class="item active">
		  		<img src="http://web.altiviaot.com/img/header_two.jpg" alt="">
				<div class="carousel-caption">
					texto
				</div>
			</div>
			<div class="item">
				<img src="http://web.altiviaot.com/img/header_two.jpg" alt="">
				<div class="carousel-caption">
					texto
				</div>
			</div>
			<div class="item">
				<img src="http://web.altiviaot.com/img/header_two.jpg" alt="">
				<div class="carousel-caption">
					texto
				</div>
			</div>
		</div>
	</div>
</section>

<section id="features" class="mt-30 mb-50">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2><i class="icon"></i> MISION</h2>
				<p>Ofrecer un servicio con calidad, excelencia y profesionalismo además de un soporte técnico y las tarifas más competitivas para convertirnos en el líder de la comunidad latinoamericana en el ámbito de innovaciones en tecnología web.</p>
			</div>
			<div class="col-md-6">
				<h2><i class="icon"></i> VISION</h2>
				<p>Ser el número uno en el mundo del web, manteniendo una alta calidad y servicio en nuestros productos, orientados a la búsqueda de tecnologías apropiadas que garantice su crecimiento como empresa para así lograr que Ud. logre su meta.</p>
				<p>Experiencia, Profesionalismo y Conocimientos son nuestras bases para formar una compañía que tiene todo lo que usted necesita para que aproveche todas las ventajas que Internet le puede ofrecer. Ud. se preguntará, ¿Por qué preferir nuestros servicios?, a continuación Ud. podrá conocer un poco las razones por la cual nosotros somos lo que busca.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h2><i class="icon"></i> ¿QUIENES SOMOS?</h2>
				<p>Somos un grupo de profesionales 100% Colombianos, comprometidos con la visión de poder ofrecer servicios web a nivel global, con los más altos estándares de calidad y a los mejores precios del mercado. Empezamos con la iniciativa, siendo un grupo de estudiantes vinculados al mundo web, y con el deseo de brindarle a la comunidad la oportunidad no solo de iniciar sino también de poder ampliar su propio negocio en internet. Nuestra misión está orientada a brindarles los mejores servicios en el mundo web, y nos sentimos en el deber de realizar una mejor labor cada día.</p>
			</div>
			<div class="col-md-6">
				<h2><i class="icon"></i> ¿POR QUÉ PREFERIRNOS?</h2>
				<p>Porque manejamos una línea de estándares y servicios que nos posicionan muy bien en el mercado, manejado diseños sencillos y profesionales a su medida además de una variedad de plataformas que nos ayudan a solucionar sus inconvenientes. Somos una empresa, pero también somos parte de su empresa, somos su soporte, somos parte de Ud., y queremos lo mejor para su empresa, crecer junto a usted y ser su aliado en todo momento es nuestra primera meta, querer que Ud. y su empresa se fortalezcan en el mundo web.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h2><i class="icon"></i> DESARROLLO Y PROGRAMACIÓN</h2>
				<p>Te va a dar tranquilidad trabajar con los mejores desarrolladores de Apps y Web. Duerme bien sabiendo que cuentas con un equipo de ingenieros que no está improvisando con tu proyecto. Tenemos experiencia en todos los principales lenguajes de programación.</p>
			</div>
			<div class="col-md-6">
				<h2><i class="icon"></i> INTRANETS</h2>
				<p>Páginas web para empresas y manejo de su comunicación interna.</p>
				<ul>
					<li>Comunícate con tu empresa e involúcralos con la organización.</li>
					<li>Automatiza el manejo de solicitudes y/o recursos.</li>
					<li>Centraliza tus comunicaciones con tus empleados.</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h2><i class="icon"></i> APPS - HTML5</h2>
				<p>Aprovecha la utlidad de los celulares inteligentes.</p>
				<ul>
					<li>Comunícate con tus empleados en cualquier momento y desde cualquier lugar.</li>
					<li>Aumenta la productividad de tu empresa.</li>
					<li>Gestiona tus productos rapidamente.</li>
					<li>Disponible para Android y proximamente iOS.</li>
				</ul>
			</div>
			<div class="col-md-6">
				<h2><i class="icon"></i> HOSTING, ALOJAMIENTO WEB</h2>
				<p>Aloje su página con una agencia web a un bajo costo.</p>
				<ul>
					<li>Un servicio a su medida, como usted lo necesita.</li>
					<li>Ofrecemos un excelente soporte a sus inquietudes.</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h2><i class="icon"></i> DISEÑO A LA MEDIDA</h2>
				<p>La planeación y medición de proyectos a la medida es lo que mejor hacemos. Si quieres realizar un proyecto digital que se destaque, vamos a ser un buen equipo.</p>
			</div>
		</div>
	</div>
</section>

<section id="team">
	<div class="container">
        <div class="row mb-30">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Nuestro Equipo</h1>
                <p>Excelentes profesionales con un alto rendimiento y calidad en su trabajo.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="text-center">
                    <img src="https://dl.dropboxusercontent.com/u/57960869/Altiviaot/profile/128x128_jom.png" class="img-responsive img-circle text-img-center" alt="">
                    <h4><span class="navy">Yaledys</span> Machacon</h4>
                    <p>Directora de Proyectos</p>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="text-center">
                    <img src="https://dl.dropboxusercontent.com/u/57960869/Altiviaot/profile/128x128_jom.png" class="img-responsive img-circle text-img-center" alt="">
                    <h4><span class="navy">Jonathan</span> Olier</h4>
                    <p>Ing. de Sistemas y Arquitecto de Software</p>
                    <ul class="list-inline social-icon">
                        <li><a href="https://twitter.com/djom202"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/DJom20"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://co.linkedin.com/in/djom202/"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center mt-30 mb-30">
                <p>Cada dia mejorando para brindarles un mejor servicio.</p>
            </div>
        </div>
    </div>
</section>

<section id="services" class="mb-50">
	<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Nuestros Servicios</h1>
                <p>Todos los nuestros servicios ofrecidos son de calidad y estos son algunos de ellos.</p>
            </div>
        </div>
        <div class="row mt-40">
            <div class="col-lg-6 features-text">
                <h2>Consultrias</h2>
                <i class="fa fa-briefcase big-icon pull-left"></i>
                <p>Podemos ofrecerle asesorias para resolver sus dudas con problemas o inquietudes con respecto a tecnologias, implementaciones, sitio web, hostings y dominios entre otros, todo a su entera disposicion. Solo llamenos y coordialmente atenderemos todas sus dudas e inquietudes.</p>
            </div>
            <div class="col-lg-6 features-text">
                <h2>Dominios y Servidores</h2>
                <i class="fa fa-gears big-icon pull-left"></i>
                <p>Le ofrecemos una diversidad de paquetes y/o a su medida de servidores para que respalden sus necesidades. Le ofrecemos diversidad de dominios como .com, .net, .org, .us, .com.co y .es, ademas de comodas formas de pago. Nosotros mismos nos encargamos de recordarle cuando vence su hosting y/o dominio y estamos al tanto que si asi lo desea pueda renovarlo a tiempo y sin ningun incoveniente.</p>
            </div>
        </div>
        <div class="row mt-40">
            <div class="col-lg-6 features-text">
                <h2>Welcome Pages, Landing Pages y Markup</h2>
                <i class="fa fa-html5 big-icon pull-left"></i>
                <p>Maquetamos sitios web, usted nos trae su diseño y nosotros lo transformamos en una obra de arte hecha web. Tambien realizamos micro sitios donde pueda darse a conocer, tener presencia en internet o simplemente colocar sus datos de contacto para que sus clientes los puedan contactar.</p>
            </div>
            <div class="col-lg-6 features-text">
                <h2>Sitios Web</h2>
                <i class="fa fa-code big-icon pull-left"></i>
                <p>Trabajamos diferentes tipos de plataformas y segun sus necesidades. Nuestra especialidad es el desarrollo de sitios web a su medida, nosotros nos encargaremos de realizar su sitio web en donde sus clientes encuentren todo lo necesario de ustedes o los productos que se deseen publicar.</p>
            </div>
        </div>
        <div class="row mt-40">
            <div class="col-lg-6 features-text">
                <h2>Aplicaiones Web</h2>
                <i class="fa fa-laptop big-icon pull-left"></i>
                <p>Nuestro objetivo en cuanto a desarrollo de paginas Web es que nuestros clientes estén orgullosos de su página Web ( La mayoría lo están!), y queremos ofrecerle lo mejor. Si revisa nuestro portafolio se dará cuenta que en cada diseño se encuentra plasmado el espíritu de cada negocio.</p>
            </div>
            <div class="col-lg-6 features-text">
                <h2>Aplicaciones Mobiles</h2>
                <i class="fa fa-mobile big-icon pull-left"></i>
                <p>Nuestros desarrollos moviles combinan aplicaciones funcionales como bases de datos y administradores de contenidos de uso intuitivo que no requieren de parte del usuario ningún conocimiento más allá de saber navegar por internet. Estamos en capacidad de ayudarle en todas sus necesidades moviles por más complejas que parezcan.</p>
            </div>
        </div>
    </div>
</section>

<section id="projects" class="mb-50">
	<div class="container">
        <div class="row mb-30">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Nuestros Proyectos</h1>
                <p>Realizamos muchos tipos de proyectos y estos son algunos de ellos.</p>
            </div>
        </div>
        <div class="row p-t-b">
            <div id="project1" class="col-sm-4 col-md-4 pricing-hover">
                <div class="pricing-desc">
                    <a href="" class="pricing-title">
                        Scala D' Mare
                    </a>
                    <img class="fullwidth" src="https://dl.dropbox.com/u/57960869/Altiviaot/portafolio/scaladmare/0.jpg" alt="Foto">
                </div>
            </div>
            <div id="project2" class="col-sm-4 col-md-4 pricing-hover">
                <div class="pricing-desc">
                    <a href="" class="pricing-title">
                        Big Fish Producciones
                    </a>
                    <img class="fullwidth" src="https://dl.dropbox.com/u/57960869/Altiviaot/portafolio/pantallazos/big/0.png" alt="Foto">
                </div>
            </div>
            <div id="project3" class="col-sm-4 col-md-4 pricing-hover">
                <div class="pricing-desc">
                    <a href="" class="pricing-title">
                        Fierbras
                    </a>
                    <img class="fullwidth" src="https://dl.dropbox.com/u/57960869/Altiviaot/portafolio/pantallazos/fierabras/0.jpg" alt="Foto">
                </div>
            </div>
        </div>
        <div class="row p-t-b">
            <div id="project4" class="col-sm-4 col-md-4 pricing-hover">
                <div class="pricing-desc">
                    <a href="" class="pricing-title">
                        Quality System
                    </a>
                    <img class="fullwidth" src="https://dl.dropbox.com/u/57960869/Altiviaot/portafolio/pantallazos/quality_system/0.jpg" alt="Foto">
                </div>
            </div>
            <div id="project5" class="col-sm-4 col-md-4 pricing-hover">
                <div class="pricing-desc">
                    <a href="" class="pricing-title">
                        DomiciliosCO
                    </a>
                    <img class="fullwidth" src="https://dl.dropbox.com/u/57960869/Altiviaot/portafolio/domiciliosco/0.jpg" alt="Foto">
                </div>
            </div>
            <div id="project6" class="col-sm-4 col-md-4 pricing-hover">
                <div class="pricing-desc">
                    <a href="" class="pricing-title">
                        I2B
                    </a>
                    <img class="fullwidth" src="https://dl.dropbox.com/u/57960869/Altiviaot/portafolio/i2b/0.jpg" alt="Foto">
                </div>
            </div>
        </div>
        <div class="row p-t-b">
            <div id="project7" class="col-sm-4 col-md-4 pricing-hover">
                <div class="pricing-desc">
                    <a href="" class="pricing-title">
                        Mac Abogados
                    </a>
                    <img class="fullwidth" src="https://dl.dropbox.com/u/57960869/Altiviaot/portafolio/pantallazos/mac/0.png" alt="Foto">
                </div>
            </div>
            <div id="project8" class="col-sm-4 col-md-4 pricing-hover">
                <div class="pricing-desc">
                    <a href="" class="pricing-title">
                        Nuvola
                    </a>
                    <img class="fullwidth" src="https://dl.dropbox.com/u/57960869/Altiviaot/portafolio/nuvola/0.png" alt="Foto">
                </div>
            </div>
        </div>
        <div class="row mt-30">
            <div class="col-lg-8 col-lg-offset-2 text-center mt-30">
                <a href="http://brochure.altiviaot.com" target="_blank" class="btn btn-primary mb-40">
                    Quieres ver mas?
                </a>
                <p>* Muchos de estos sitios son copias no-completas del sitio original.</p>
            </div>
        </div>
    </div>
</section>

<section id="contact">
	<div class="container">
        <div class="row mb-30">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Contactanos</h1>
            </div>
        </div>
        <div class="row mb-30">
            <div class="col-lg-3 col-lg-offset-3">
                <address>
                    <strong>
                	    <i class="fa fa-at"></i> <span class="navy">info@altiviaot.com</span>
                	</strong>
                	<br>
                    <i class="fa fa-flag"></i> Barranquilla, Colombia
                    <br>
                    <i class="fa fa-mobile"></i> (+57) 301-444-2072
                </address>
            </div>
            <div class="col-lg-4">
                <p class="text-color">
                    Para cualquier duda ó contacto por favor haga uso unicamente de los datos que se proporcionan en este sitio web.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:info@altiviaot.com" class="btn btn-primary">Escribenos</a>
                <p class="mt-10">
                    Siguenos en nuestras redes sociales
                </p>
                <ul class="list-inline social-icon">
                    <li>
                    	<a href="https://twitter.com/AltiviaOT"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                    	<a href="https://www.facebook.com/pages/Altiviaot/102802866559001">
                    		<i class="fa fa-facebook"></i>
                    	</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center mt-30 mb-40">
                <p><strong>© 2015 AltiviaOT</strong><br> Todos los derechos reservados por AltiviaOT.</p>
            </div>
        </div>
    </div>
</section>

<section id="languaje" class="floating">
    <label><a ng-click="changeLang('es')" href="">ES</a></label> |
    <label><a ng-click="changeLang('en')" href="">EN</a></label>
</section>