<nav class="navbar navbar-default">
  	<div class="container-fluid">
    	<div class="navbar-header">
      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
      		</button>
      		<a class="navbar-brand" href="#">Brand</a>
    	</div>

    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      		<ul class="nav navbar-nav">
        		<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        		<li><a href="#">Link</a></li>
      		</ul>
      		<ul class="nav navbar-nav navbar-right">
        		<li><a href="#">Link</a></li>
      		</ul>
    	</div>
  	</div>
</nav>

<section id="home">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		</ol>

		<div class="carousel-inner" role="listbox">
			<div class="item active">
		  		<img src="" alt="">
				<div class="carousel-caption">
					texto
				</div>
			</div>
			<div class="item">
				<img src="" alt="">
				<div class="carousel-caption">
					texto
				</div>
			</div>
		</div>

		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</section>

<section id="features">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2><i class="icon"></i> titulo</h2>
				<p>texto</p>
			</div>
			<div class="col-md-4">
				<h2><i class="icon"></i> titulo</h2>
				<p>texto</p>
			</div>
			<div class="col-md-4">
				<h2><i class="icon"></i> titulo</h2>
				<p>texto</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h2><i class="icon"></i> titulo</h2>
				<p>texto</p>
			</div>
			<div class="col-md-4">
				<h2><i class="icon"></i> titulo</h2>
				<p>texto</p>
			</div>
			<div class="col-md-4">
				<h2><i class="icon"></i> titulo</h2>
				<p>texto</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h2><i class="icon"></i> titulo</h2>
				<p>texto</p>
			</div>
			<div class="col-md-4">
				<h2><i class="icon"></i> titulo</h2>
				<p>texto</p>
			</div>
			<div class="col-md-4">
				<h2><i class="icon"></i> titulo</h2>
				<p>texto</p>
			</div>
		</div>
	</div>
</section>

<section id="team">
	<div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Nuestro Equipo</h1>
                <p>Excelentes profesionales con un alto rendimiento y calidad en su trabajo.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="team-member">
                    <img src="img/avatar3.jpg" class="img-responsive img-circle" alt="">
                    <h4><span class="navy">Yaledys</span> Machacon</h4>
                    <p>Directora de Proyectos</p>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="team-member">
                    <img src="https://dl.dropboxusercontent.com/u/57960869/Altiviaot/profile/128x128_jom.png" class="img-responsive img-circle" alt="">
                    <h4><span class="navy">Jonathan</span> Olier</h4>
                    <p>Ing. de Sistemas y Arquitecto de Software</p>
                    <ul class="list-inline social-icon">
                        <li><a href="https://twitter.com/djom202"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/DJom20"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://co.linkedin.com/in/djom202/"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p>Cada dia mejorando para brindarles un mejor servicio.</p>
            </div>
        </div>
    </div>
</section>

<section id="services">
	<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Nuestros Servicios</h1>
                <p>Todos los nuestros servicios ofrecidos son de calidad y estos son algunos de ellos.</p>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-6 features-text">
                <h2>Consultrias</h2>
                <i class="fa fa-briefcase big-icon pull-left"></i>
                <p>Podemos ofrecerle asesorias para resolver sus dudas con problemas o inquietudes con respecto a tecnologias, implementaciones, sitio web, hostings y dominios entre otros, todo a su entera disposicion. Solo llamenos y coordialmente atenderemos todas sus dudas e inquietudes.</p>
            </div>
            <div class="col-lg-6 features-text">
                <h2>Dominios y Servidores</h2>
                <i class="fa fa-gears big-icon pull-left"></i>
                <p>Le ofrecemos una diversidad de paquetes y/o a su medida de servidores para que respalden sus necesidades. Le ofrecemos diversidad de dominios como .com, .net, .org, .us, .com.co y .es, ademas de comodas formas de pago. Nosotros mismos nos encargamos de recordarle cuando vence su hosting y/o dominio y estamos al tanto que si asi lo desea pueda renovarlo a tiempo y sin ningun incoveniente.</p>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-6 features-text">
                <h2>Welcome Pages, Landing Pages y Markup</h2>
                <i class="fa fa-html5 big-icon pull-left"></i>
                <p>Maquetamos sitios web, usted nos trae su diseño y nosotros lo transformamos en una obra de arte hecha web. Tambien realizamos micro sitios donde pueda darse a conocer, tener presencia en internet o simplemente colocar sus datos de contacto para que sus clientes los puedan contactar.</p>
            </div>
            <div class="col-lg-6 features-text">
                <h2>Sitios Web</h2>
                <i class="fa fa-code big-icon pull-left"></i>
                <p>Trabajamos diferentes tipos de plataformas y segun sus necesidades. Nuestra especialidad es el desarrollo de sitios web a su medida, nosotros nos encargaremos de realizar su sitio web en donde sus clientes encuentren todo lo necesario de ustedes o los productos que se deseen publicar.</p>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-6 features-text">
                <h2>Aplicaiones Web</h2>
                <i class="fa fa-laptop big-icon pull-left"></i>
                <p>Nuestro objetivo en cuanto a desarrollo de paginas Web es que nuestros clientes estén orgullosos de su página Web ( La mayoría lo están!), y queremos ofrecerle lo mejor. Si revisa nuestro portafolio se dará cuenta que en cada diseño se encuentra plasmado el espíritu de cada negocio.</p>
            </div>
            <div class="col-lg-6 features-text">
                <h2>Aplicaciones Mobiles</h2>
                <i class="fa fa-mobile big-icon pull-left"></i>
                <p>Nuestros desarrollos moviles combinan aplicaciones funcionales como bases de datos y administradores de contenidos de uso intuitivo que no requieren de parte del usuario ningún conocimiento más allá de saber navegar por internet. Estamos en capacidad de ayudarle en todas sus necesidades moviles por más complejas que parezcan.</p>
            </div>
        </div>
    </div>
</section>

<section id="projects">
	<div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Nuestros Proyectos</h1>
                <p>Realizamos muchos tipos de proyectos y estos son algunos de ellos.</p>
            </div>
        </div>
        <div class="row p-t-b">
            <div id="project1" class="col-sm-4 col-md-4 pricing-hover">
                <div class="pricing-desc">
                    <a href="" class="pricing-title">
                        Scala D' Mare
                    </a>
                    <img class="fullwidth" src="https://dl.dropbox.com/u/57960869/Altiviaot/portafolio/scaladmare/0.jpg" alt="Foto">
                </div>
            </div>
            <div id="project2" class="col-sm-4 col-md-4 pricing-hover">
                <div class="pricing-desc">
                    <a href="" class="pricing-title">
                        Big Fish Producciones
                    </a>
                    <img class="fullwidth" src="https://dl.dropbox.com/u/57960869/Altiviaot/portafolio/pantallazos/big/0.png" alt="Foto">
                </div>
            </div>
            <div id="project3" class="col-sm-4 col-md-4 pricing-hover">
                <div class="pricing-desc">
                    <a href="" class="pricing-title">
                        Fierbras
                    </a>
                    <img class="fullwidth" src="https://dl.dropbox.com/u/57960869/Altiviaot/portafolio/pantallazos/fierabras/0.jpg" alt="Foto">
                </div>
            </div>
        </div>
        <div class="row p-t-b">
            <div id="project4" class="col-sm-4 col-md-4 pricing-hover">
                <div class="pricing-desc">
                    <a href="" class="pricing-title">
                        Quality System
                    </a>
                    <img class="fullwidth" src="https://dl.dropbox.com/u/57960869/Altiviaot/portafolio/pantallazos/quality_system/0.jpg" alt="Foto">
                </div>
            </div>
            <div id="project5" class="col-sm-4 col-md-4 pricing-hover">
                <div class="pricing-desc">
                    <a href="" class="pricing-title">
                        DomiciliosCO
                    </a>
                    <img class="fullwidth" src="https://dl.dropbox.com/u/57960869/Altiviaot/portafolio/domiciliosco/0.jpg" alt="Foto">
                </div>
            </div>
            <div id="project6" class="col-sm-4 col-md-4 pricing-hover">
                <div class="pricing-desc">
                    <a href="" class="pricing-title">
                        I2B
                    </a>
                    <img class="fullwidth" src="https://dl.dropbox.com/u/57960869/Altiviaot/portafolio/i2b/0.jpg" alt="Foto">
                </div>
            </div>
        </div>
        <div class="row p-t-b">
            <div id="project7" class="col-sm-4 col-md-4 pricing-hover">
                <div class="pricing-desc">
                    <a href="" class="pricing-title">
                        Mac Abogados
                    </a>
                    <img class="fullwidth" src="https://dl.dropbox.com/u/57960869/Altiviaot/portafolio/pantallazos/mac/0.png" alt="Foto">
                </div>
            </div>
            <div id="project8" class="col-sm-4 col-md-4 pricing-hover">
                <div class="pricing-desc">
                    <a href="" class="pricing-title">
                        Nuvola
                    </a>
                    <img class="fullwidth" src="https://dl.dropbox.com/u/57960869/Altiviaot/portafolio/nuvola/0.png" alt="Foto">
                </div>
            </div>
        </div>
        <div class="row m-t-lg">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg">
                <a href="http://brochure.altiviaot.com" target="_blank" class="btn btn-primary ng-binding m-b-xl">
                    Quieres ver mas?
                </a>
                <p>* Muchos de estos sitios son copias no-completas del sitio original.</p>
            </div>
        </div>
    </div>
</section>

<section id="contact">
	<div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Contactanos</h1>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-3 col-lg-offset-3">
                <address>
                    <strong>
                	    <i class="fa fa-at"></i> <span class="navy">info@altiviaot.com</span>
                	</strong>
                	<br>
                    <i class="fa fa-flag"></i> Barranquilla, Colombia
                    <br>
                    <i class="fa fa-mobile"></i> (+57) 301-444-2072
                </address>
            </div>
            <div class="col-lg-4">
                <p class="text-color ng-binding">
                    Para cualquier duda ó contacto por favor haga uso unicamente de los datos que se proporcionan en este sitio web.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:info@altiviaot.com" class="btn btn-primary ng-binding">Escribenos</a>
                <p class="m-t-sm ng-binding">
                    Siguenos en nuestras redes sociales
                </p>
                <ul class="list-inline social-icon">
                    <li>
                    	<a href="https://twitter.com/AltiviaOT"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                    	<a href="https://www.facebook.com/pages/Altiviaot/102802866559001">
                    		<i class="fa fa-facebook"></i>
                    	</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-xl">
                <p><strong>© 2015 AltiviaOT</strong><br> Todos los derechos reservados por AltiviaOT.</p>
            </div>
        </div>
    </div>
</section>