@import url('http://fonts.googleapis.com/css?family=Lato:700');

/* Your style here */
body {
	color: #676a6c;
	overflow-x: hidden;
	padding-top: 50px;
}

h1 {
	margin-top: 10px;
	font-size: 30px;
	font-weight: 200;
}

a {
	color: #337ab7;
	text-decoration: none;
}

section p, li {
	color: #aeaeae;
	font-size: 13px;
}

/* HELPERS */
.navy {
	color: #f89c0b;
}

.navy-line {
	border-bottom: 2px solid #f89c0b;
	height: 1px;
	margin: 60px auto 0;
	width: 60px;
}

.big-icon {
	font-size: 56px;
	/*margin-bottom: 48px;*/
  	color: #f89c0b;
}

.social-icon a {
	background-color: #f89c0b;
	border-radius: 50px;
	color: #fff;
	display: block;
	height: 28px;
	padding: 6px 8px;
	width: 28px;
}

.social-icon a:hover {
	background-color: #337ab7;
}

span.navy.custom-hover:hover {
	color: #337ab7;
	cursor: pointer;
}

img.fullwidth {
	margin: 0;
	padding: 0;
	width: 100%;
}

.btn-primary {
	background-color: #f89c0b;
	background-image: none;
	border-color: #f89c0b;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 600;
	padding: 10px 20px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	background-color: #2393C6;
	border-color: #2393C6;
	color: #FFFFFF;
}

.text-center {
  text-align: center;
}

.text-img-center {
	margin: 0 auto;
}

.mt-10 {
	margin-top: 10px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-30 {
	margin-top: 30px;
}
.mt-40 {
	margin-top: 40px;
}
.mt-50 {
	margin-top: 50px;
}

.mb-10 {
	margin-bottom: 10px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mb-40 {
	margin-bottom: 40px;
}
.mb-50 {
	margin-bottom: 50px;
}
/* END HELPERS */

/* NAV */
.top-nav img.logo {
	width: 10em;
}

.top-nav .navbar-brand {
	height: 100%;
	padding: 8px 15px;
}

.top-nav .navbar-fixed-top {
	border-radius: 0;
	background-image: none;
	background-color: transparent;
	border: none;
	box-shadow: none;
}

.top-nav .navbar-default .nav li a {
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	color: #fff;
}

.top-nav .navbar-default .nav li a:hover {
	color: #f89c0b;
}

.bottom-nav {
	
}
/* END NAV */

/* HOME */
#home .carousel > .carousel-inner > .item > img {
	width: 100%;
}
/* END HOME */

/* FEATURES */

/* END FEATURES */

/* SERVICES */
.se-icons:hover i {
	color: #337ab7;
	cursor: pointer;
}
/* END SERVICES */

/* TEAM */
#team {
	background-color: #f4f4f4;
}
/* END TEAM */

/* CONTACT */
#contact {
	background-color: #f4f4f4;
	background-image: url('../assets/contact/word_map.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-top: 60px;
}
/* END CONTACT */


/* LANGUAJE */
#languaje {
	background-color: #f89c0b;
	bottom: 0;
	color: #fff;
	padding: 5px 20px 0;
	position: fixed;
	right: 20px;
}

#languaje a, #languaje a:hover {
  color: #fff;
}
/* END LANGUAJE */

/* BOOTSTRAP */
@media (min-width: 768px){
	.top-nav .navbar-nav > li > a {
	  	padding-top: 30px;
	  	padding-bottom: 30px;
	}
}
/* END BOOTSTRAP */

